/* body */
body{
    background-color: #caf0f8!important;
    font-family: 'Josefin Sans', sans-serif!important;
}
/* navbar */
.navbar{
    background-color: #1d3557;
}
/* container */
.main{
    margin-top:100px;
}
.vamm{
    color: #59E4C3;
    background-color: #1d3557;
}
.cl{
    background-image: url("../img/patternpad.png");
    background-size: cover;
    color: white;   
}   