/* body */
body{
    background-color: #caf0f8!important;
    font-family: 'Josefin Sans', sans-serif!important;
}
/* navbar */
.navbar{
    background-color: #1d3557;
}
/* container */
.main{
    margin-top:100px;
}